body {
  background-color: rgb(253, 251, 251);
}

#cabecalho  {
  position: fixed;
  top: 0;
  border: 1px solid green;
  padding: 20px;
}
/* 
#titulo h1 {
  position: fixed;
  top: 0;
  border: 1px solid green; */
}

#links {
  border: 1px solid green;
}

#minha_foto {
  width: 200px;
  border: 1px solid green
}

#licoes_aprendidas {
  border: 1px solid green;
}

#licoes_a_aprender {
  border: 1px solid green;
}

#rodape {
  font-size: xx-small;
  border: 1px solid green;
}
