body {
  background-color: rgb(253, 251, 251);
}

header {
  font-family: Courier New, Courier, monospace;
  position: top;
  top: 0;
  border: 1px solid green;
}

#minha_foto {
  width: fit-content;
}

#licoes_aprendidas {
  border: 1px solid green;
}

#licoes_a_aprender {
  border: 1px solid green;
}

#rodape {
  font-size: xx-small;
}
