body {
  background-color: rgb(253, 251, 251);
  font-family: Courier New, Courier, monospace;
  font-size: 1em;
  color: rgb(5, 5, 5);
  line-height: 20px;
}

#cabecalho {
  position: fixed;
  top: 0;
  border: 1px solid green;
  padding: 20px;
}

#links {
  border: 1px solid green;
}

#minha_foto {
  width: 200px;
  border: 1px solid green;
}

#licoes_aprendidas {
  border: 1px solid green;
}

#licoes_a_aprender {
  border: 1px solid green;
}

#rodape {
  font-size: xx-small;
  border: 1px solid green;
}

table,
th,
td {
  border: 1px solid black;
  width: 100%;
}

#box_model {
  width: 100%;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  float: left;
}

#artigo_secao {
  
}
